.user-item {
  margin: .5rem 0;
  width: 100%;
  border-bottom: 1px solid rgb(244, 243, 243);
}

.user-item a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: .4rem .3rem;
}

.user-item a:hover,
.user-item a:active {
  background: rgb(250, 250, 250);
}

.user-item__all_content {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.user-item__content{
  width: 100%;
}

.user-item__image {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.user-item__info h2 {
  font-size: 1.2rem;
  margin: 0 0 0.2rem 0;
  font-weight: normal;
  color: black;
}


.user-item__info span {
  margin: 0;
  font-size: 1rem;
}


.user-item__setting {
  position: absolute;
  top: 17%;
  right: 2%;
}

.user-item__setting span {
  padding: .6rem;
}

.user-item__setting span:hover {
  background-color: #f1f1f1;
  border-radius: 7px;
}

#cat__Bio {
  display: inline-block;
}


@media screen and (max-width: 1292px) {
  .user-item__info span {
    font-size: .8rem;
  }


  .user-item__info h2 {
    font-size: 1.2rem;
    margin: 0;
  }
}

@media screen and (max-width: 1000px) {}

@media screen and (max-width: 600px) {


  .user-item__image {
    width: 2.7rem;
    height: 2.7rem;
    margin-right: .7rem;
  }

  .user-item__info h2 {
    font-size: 1rem;
    margin: 0;
    font-weight: normal;
    color: black;
  }

  #cat__Bio {
    display: none;
  }

}