.main-header {
  grid-area: 1 /1 /1 /1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1292px) {
  .main-header {
    top: 2%;
    left: 58%;
    align-items: flex-end;
  }
}


@media screen and (max-width: 1000px) {
  .main-header {
    position: relative;
    top: 0;
    left: 0;
    align-items: center;
  }
}