.main-navigation__title {
  margin-top: 4rem;
  margin-bottom: 7rem;
}

.main-navigation__title img {
  height: 35px;
}

.main-navigation__header-nav {
  display: grid;
  grid-template-rows: repeat(n, 1fr);
}


@media screen and (max-width: 1292px) {}

@media screen and (max-width: 1000px) {
  .main-navigation__title {
    align-self: center;
  }
}

/* @media screen and (max-width: 700px) {
  
  .main-navigation__title {
    display: none;
  }
} */